:root {
  --color-primary: #0099FF;
  --color-background: #E5E5E5;
  --color-form: #F8F8F8; }

html {
  font-size: 62.5%; }

body {
  font-family: Lato,Verdana, Geneva, Tahoma, sans-serif; }

.form {
  width: 60%;
  margin: 0 auto;
  background-color: var(--color-form);
  margin-top: 7rem;
  padding: 4rem;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.1); }
  .form__heading {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 5rem;
    text-transform: capitalize; }
  .form-group {
    display: flex;
    align-items: center; }
  .form__label {
    font-size: 1.5rem;
    font-family: inherit;
    flex: 0 0 22%; }
  .form-control {
    font-family: inherit;
    padding: 2.5rem 2rem;
    font-size: 2rem;
    margin-bottom: 1rem;
    border-radius: .5rem;
    flex: 1; }
    .form-control::-webkit-input-placeholder {
      font-size: 1.5rem;
      margin-top: -.5rem; }
      .form-control::-webkit-input-placeholder:not(:last-child) {
        margin-left: 2rem; }
  .form-text {
    font-size: 1.2rem;
    margin-top: 1rem; }
  .form__link {
    padding: 1.5rem 3rem;
    font-size: 2rem;
    background-color: var(--color-primary);
    color: var(--color-form);
    text-align: center;
    margin: 2rem auto;
    display: block;
    outline: none;
    border-radius: .5rem;
    border: none; }
  .form__sign-in, .form__sign-in:link, .form__sign-in:visited {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: var(--color-primary); }

.container {
  width: 100%; }

.navigation__list {
  list-style: none;
  display: flex;
  justify-content: flex-end; }

.navigation__item {
  font-size: 1.5rem;
  margin: 3rem 2rem -2rem 0; }
  .navigation__item:last-child {
    margin-right: 15rem; }

.navigation__link {
  color: #fff;
  background-color: var(--color-primary);
  padding: 1rem 2rem;
  text-transform: uppercase; }
  .navigation__link:hover {
    background-color: var(--color-form);
    color: var(--color-primary);
    text-decoration: none; }
